#Fries {
    position: fixed;
    top:25px;right:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 5px solid green;
    color: black;
    background-color: lime;
    border-radius: 15px;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Clicker {
    position: fixed;
    top:25px;left:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 5px solid black;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px grey;
    transition: transform 0.1s, box-shadow 0.1s;
    cursor:pointer;
}

#Clicker:hover {
    background-color: whitesmoke;
}

#Clicker:active {
    transform: translateY(2px);
    box-shadow: 0 2px grey;
}

#FPC_UpgradeButton {
    position: fixed;
    top:125px;left:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 5px solid black;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px grey;
    transition: transform 0.1s, box-shadow 0.1s;
    cursor:pointer;
}

#FPC_UpgradeButton:hover {
    background-color: whitesmoke;
}

#FPC_UpgradeButton:active {
    transform: translateY(2px);
    box-shadow: 0 2px grey;
}

#StatsButton {
    position: fixed;
    top:325px;left:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 5px solid black;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#TimePlayed {
    position: fixed;
    bottom: 20px;
    left: 90%;
    transform: translateX(-50%);
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  #timer {
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
  }

  #FPS_UpgradeButton {
    position: fixed;
    top:225px;left:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 5px solid black;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px grey;
    transition: transform 0.1s, box-shadow 0.1s;
    cursor:pointer;
}

#FPS_UpgradeButton:hover {
    background-color: whitesmoke;
}

#FPS_UpgradeButton:active {
    transform: translateY(2px);
    box-shadow: 0 2px grey;
}

#FPC_UpgradeButton {
    transition: background-color 0.2s;
  }

#FPS_UpgradeButton {
    transition: background-color 0.2s;
}

#ResetProgressButton {
    position: fixed;
    bottom: 100px;
    left: 90%;
    transform: translateX(-50%);
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Secret {
    position: fixed;
    bottom: 2px;
    left: 99%;
    transform: translateX(-50%);
    padding: 1px 1px;
    font-size: 3px;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#SecretMenu {
    position: fixed;
    top:20%;left:55%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 5px solid black;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-align:10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#FreeUpgradeStyles {
    position: fixed;
    padding: 10px 8px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: grey;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#AchievementsButton {
    position: fixed;
    bottom: 26.5%;
    left: 90%;
    transform: translateX(-50%);
    padding: 23px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#AchievementsList {
    position: fixed;
    width: 200px;
    bottom: 40%;
    left: 80%;
    transform: translateX(-50%);
    padding: 23px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#achievementPopup {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: -100px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; 
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    opacity: 0;
    transition: top 0.5s ease-out, opacity 0.5s ease-out;
}


#achievementPopup.show {
    top: 20px; 
    opacity: 1;
}

.VeryLargeText {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.LargeText {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.SmallText {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
